body{
  margin: 3%;
  padding: 0%;
  background-color: rgb(5, 2, 4);
  color: thistle;

}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
label,input{
  display: block;
  border-radius: 4px;
  font-size: 18px;
}
button{
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(100, 133, 110);
  color: rgb(12, 1, 12);
  margin-top: 15px;
}

/* Media queries for responsiveness */
@media (min-width: 1200px) {
  /* Large devices: adjustments if needed */
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* Medium devices */
  body {
    margin: 2%;
  }
  label, input, button {
    font-size: 16px;
  }
  button {
    width: 90px;
    height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Small devices */
  body {
    margin: 1%;
  }
  label, input, button {
    font-size: 14px;
  }
  button {
    width: 80px;
    height: 30px;
  }
}

@media (max-width: 575px) {
  /* Extra small devices */
  body {
    margin: 0.5%;
  }
  label, input, button {
    font-size: 12px;
  }
  button {
    width: 70px;
    height: 28px;
  }
}
 