.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Media queries for responsiveness */
@media (min-width: 1200px) {
  /* Large devices: adjustments if needed */
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* Medium devices */
  .card-img-top {
    height: 80%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Small devices */
  .card-img-top {
    height: 60%;
  }
}

@media (max-width: 575px) {
  /* Extra small devices */
  .card-img-top {
    height: 40%;
  }
}
