#card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
    


}
.card{
    width: 20rem;
    height: 300px;
    border-radius: 50%;

}

/* Media queries for responsiveness */
@media (min-width: 1200px) {
  /* Large devices: adjustments if needed */
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* Medium devices */
  .card {
    width: 18rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Small devices */
  .card {
    width: 16rem;
  }
}

@media (max-width: 575px) {
  /* Extra small devices */
  .card {
    width: 100%;
    height: 250px;
  }
  #card-img-top {
    height: 150px;
  }
}